python==3.12.3

pandas==3.0.2
numpy==2.4.4
scipy==1.17.1
scikit-learn==1.8.0
xgboost==3.4.0
lightgbm==4.7.0
catboost==1.2.10
statsmodels==0.14.6
tensorflow==2.21.0
shap==0.52.0
joblib==1.5.3
matplotlib==3.10.8
seaborn==0.13.2
openpyxl==3.1.5

folium==0.20.0
geopandas==1.1.4
shapely==2.1.2